<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h2>
        You are looking at the blog &quot;{{ blog.title}}&quot; created at {{blog.created_at.date.isoformat}}
        <br/>
    </h2>

    <form action="{% url 'blog_by_id' blog.id%}" method="POST">
        {% csrf_token %}
        <input type="text" name="subject" maxlength="80" size="86" placeholder="Post subject" value="{{ subject }}"/>
        <br/>
        {% if subject_error %}
        <p style="color:red;"> {{ subject_error }} </p>
        {% endif %}
        <br/>
        <textarea name="text" maxlength="4096" rows="10" cols="80" placeholder="Post text">{{ text }} </textarea>
        <br/>
        {% if text_error %}
        <p style="color:red;"> {{ text_error }} </p>
        {% endif %}
        <input type="submit" value="Create post" />
        
    </form>
    <ul>
        {% for post in posts %}
        <li><i>{{post.created_at}}</i>  <b>{{post.subject}}</b><br>
            <p>{{post.text}}</p></li>
        {% endfor %}
    </ul>

</body>
</html>