{% extends 'rest_reviews/base.html' %}
{% block title %}{{ rest.title }}{% endblock %}
{% block content %}
<h2>
    These are reviews of  &quot;{{ rest.title}}&quot; restaurant.
    
</h2>
<br/>
<img src="{{MEDIA_URL}}{{rest.rest_image.url}}" height="400" width="500">
<br/>
<br/>
<div class="container-fluid">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% for field in form %}
    <br>
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    <br>
    {% endfor %}
    <br><br>
    <button class="btn btn-secondary">Add review</button>
</form>
</div>

<br><br>
<ul>
    {% for review in reviews %}
    <li><i>{{review.created_at}}</i> @{{review.author}} <b>{{review.subject}}</b><br>
        <p>{{review.text}}</p>
        {% if review.review_image %}
        <img src="{{MEDIA_URL}}{{review.review_image.url}}" height="200" width="300"/>
        {% endif  %} </li>
        <br><br>
    {% endfor %}
</ul>
<br/>
<a href="{%url 'index'%}" class="btn btn-secondary">Back</a>
<br/>
<br/>
{% endblock %}